[submodule "docs"]
	path = docs
	url = git@github.com:dstgo/docs.git
[submodule "web/panel"]
	path = web/panel
	url = git@github.com:dstgo/panel.git
[submodule "service/cron"]
	path = service/cron
	url = git@github.com:dstgo/cron.git
[submodule "service/container"]
	path = service/container
	url = git@github.com:dstgo/container.git
[submodule "service/configure"]
	path = service/configure
	url = git@github.com:dstgo/configure.git
[submodule "service/daemon"]
	path = service/daemon
	url = git@github.com:dstgo/daemon.git
[submodule "service/game"]
	path = service/game
	url = git@github.com:dstgo/game.git
[submodule "service/gateway"]
	path = service/gateway
	url = git@github.com:dstgo/gateway.git
[submodule "service/manager"]
	path = service/manager
	url = git@github.com:dstgo/manager.git
[submodule "service/resource"]
	path = service/resource
	url = git@github.com:dstgo/resource.git
[submodule "framework/kratosx"]
	path = framework/kratosx
	url = git@github.com:dstgo/kratosx.git
[submodule "framework/kratos-layout"]
	path = framework/kratos-layout
	url = git@github.com:dstgo/kratos-layout.git
